<div class="topbar">
  <div class="topbar-left">
    <img src="assets/logo/logo-blanco.png" alt="mandü" class="logo" />

    <nav class="menu">
      <a class="menu-item active">Dashboard</a>
      <a class="menu-item">Organización</a>
      <a class="menu-item">Modelos</a>
      <a class="menu-item">Seguimiento</a>
    </nav>
  </div>

  <div class="topbar-right">
    <div class="avatar">A</div>
    <span class="username">Administrador</span>
    <img src="assets/logo/logo-negro.png" class="logo-right" />
  </div>
</div>

<router-outlet></router-outlet>